/* ================================
   공통 Input / Select / Number 스타일 통일
================================ */

/* Input */
.customInput :global(.ant-input) {
  height: 48px !important;
  padding: 0 16px !important;
  border-radius: 10px !important;
  display: flex !important;
  align-items: center !important;
  font-size: 15px;
}

/* Select */
.customSelect :global(.ant-select-selector) {
  height: 48px !important;
  padding: 0 16px !important;
  border-radius: 10px !important;
  display: flex !important;
  align-items: center !important;
  font-size: 15px;
}

/* InputNumber (가격 입력) */
.customNumber :global(.ant-input-number) {
  width: 100% !important;
  height: 48px !important;
  border-radius: 10px !important;
  display: flex !important;
  align-items: center !important;
}

.customNumber :global(.ant-input-number-input) {
  height: 48px !important;
  padding: 0 16px !important;
  border-radius: 10px !important;
  font-size: 15px;
}

.customDragger :global(.ant-upload-list) {
  margin-top: 8px !important;
}

.customDragger :global(.ant-upload-list-item-image) {
  border-radius: 12px;
  object-fit: cover;
}
